h1 {
	color: blue;
}
a {
	text-decoration: none;
	cursor: pointer;
}
body {
	overflow-x: hidden;
}

.landingPage, .categoryPage, .questionPage, .resultPage {
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: absolute;
	width: 100vw;
	display: none;
}

.active {
	display: flex;
	animation: slideIn 0.7s forwards cubic-bezier(0, 0, 0.1, 1);
}

@keyframes slideIn {
	0% {
		left: 100vw;
	}
	100% {
		left: 0;
	}
}