/* ----- PAGE SECTION -----*/

.landingPage, .categoryPage, .questionPage, .resultPage {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	position: absolute;
	width: 100vw;
	left: 100vw;
	opacity: 0;
	transition: all 0.7s cubic-bezier(0, 0, 0.1, 1);
}

.active {
	left: 0;
	opacity: 1;
}

.removing {
	left: -100vw;
	opacity: 0;
}

@keyframes slideIn {
	0% {
		left: 100vw;
	}
	100% {
		left: 0;
	}
}